<!DOCTYPE html>
<!-- <script src="../js/bsa.js"></script> -->
<!-- Navbar
    ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="">Application Name</a>
      <div class="nav-collapse collapse" id="main-menu">
       <ul class="nav" id="main-menu-left">
         <li><a href="#how_to">How to use?</a></li>
         <li><a href="#sign_up">Sign Up</a></li>
         <li><a href="#use_api">Use API</a></li>
       </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span12">
      <h1>Page Title</h1>
      <p class="lead">Sub Title.</p>
    </div>
  </div>
</header>
<section id="how_to">
	<div class="row">
		<div class="span12">
			<h1>How to use?</h1>
			<div class="contents">
				<h3>1.XXXXX</h3>
				<p>aaaaa bbbbb ccccc ddddd eeeee<br />
					aaaaa bbbbb ccccc ddddd eeeee<br />
					aaaaa bbbbb ccccc ddddd eeeee
				</p>
				<h3>2.XXXXX</h3>
				<p>aaaaa bbbbb ccccc ddddd eeeee<br />
					aaaaa bbbbb ccccc ddddd eeeee<br />
					aaaaa bbbbb ccccc ddddd eeeee
				</p>
				<p>Please <a href="#sign_up">Sign up</a> to use.</p>
			</div>
		</div>
	</div>
</section>
<section id="sign_up">
	<div class="row">
		<div class="span4">
			<form class="well form-search" _lpchecked="1">
				<h1>Sign Up</h1>
				<input type="text" placeholder="Email"><br />
				<input type="password" placeholder="Password"><br />
				<button type="submit" class="btn">GO</button>
			</form>
		</div>
	</div>
</section>
<section id="use_api">
	<div class="row">
		<div class="span12">
			<h2>Use API</h2>
			<div class="contents">
				<p>aaaaa bbbbb ccccc ddddd eeeee...</p>
				<form class="form-search" _lpchecked="1">
					<label>http://</lebel><input type="text" placeholder="URL"><button type="submit" class="btn">GO</button>
				</form>
			</div>
		</div>
	</div>
    <p class="pull-right"><a href="#top">Back to top</a></p>
</section>
