var Pai = function(type,direction){
    Pai.URL_BASE="http://mjrecaptcha.com/images/pais/";
    Pai.WIDTH=23;
    Pai.HEIGHT=32;
    Pai.DIRECTION_TOP="t";
    Pai.DIRECTION_LEFT="l";
    Pai.DIRECTION_RIGHT="r";
    Pai.DIRECTION_BOTTOM="b";
    Pai.TYPE_EMPTY = "z0";
    Pai.TYPE_REVERSE = "r0";
    Pai.TYPE_NOT_PAI = "n0";
    Pai.TYPE_NOT_SELECT = "na";
    Pai.TYPE_LIST = [
    "m1","m2","m3","m4","m5","m6","m7","m8","m9",
    "p1","p2","p3","p4","p5","p6","p7","p8","p9",
    "s1","s2","s3","s4","s5","s6","s7","s8","s9",
    "j1","j2","j3","j4","j5","j6","j7",
        Pai.TYPE_REVERSE,Pai.TYPE_NOT_PAI];

    this.type = type; //牌の種類　"p1" "j2"といった文字列
    this.direction = direction; //牌の向き "t" "b" といった文字列

    this.jq = function(zoom){
        var jq = $("<img/>")
            .attr('type',this.type)
            .attr('direction',this.direction)
            .attr('src',Pai.URL_BASE + this.type +  this.direction +".gif");

        if(arguments.length == 1){
            if(this.isTate()){
                jq.attr("width",Pai.WIDTH * zoom);
                jq.attr("height",Pai.HEIGHT * zoom);
            }else{
                jq.attr("width",Pai.HEIGHT * zoom);
                jq.attr("height",Pai.WIDTH * zoom);
            }
        }
        return jq;
    };

    this.isEmpty = function(){
        return this.type == Pai.TYPE_EMPTY;
    };

    this.toString = function(){
        return this.type + this.direction;
    };

    this.isTate = function(){
        return this.direction == Pai.DIRECTION_TOP || this.direction == Pai.DIRECTION_BOTTOM;
    };

    Pai.imageUrl = function(type,direction){
        return Pai.URL_BASE + type +  direction +".gif";
    };


};
new Pai();//これをしないとクラス変数が見えない。


var mjrecaptcha;
if (!mjrecaptcha) mjrecaptcha = {};
(function(){
    $.ajax({
        type: "GET",
        //url: "http://www.fedc.biz/cha.json",
        url: "http://mjrecaptcha.com/challenges.json?app_id=<%= @pubkey%>",
        dataType: "jsonp",
	    jsonpCallback: "callback",
        success:on_get_challenge,
        error: function(xhr,status,err){
            alert("ajax error: " + xhr + status + err);
        }
    });

    var gChallengePaiNo = "";
    var gChallengeData = "";
    function on_get_challenge(data){
        gChallengeData=data;
        $("#commentform")
            .append($("<div/>")
                    .attr("id","div_question"));
        $("#div_question")
            .append($("<input/>")
                    .attr({"type":"hidden",
                           "name":"recaptcha_challenge_field",
                           "value":data.token}))
            .append($("<div/>")
                    .attr("id","mjrQuestionTr")
                    .css({
                        "background-image": "url(http://mjrecaptcha.com/images/back.png)",
                        "width":"312px",
                        "height":"71px",
                        "background-size":"333px 98px",
                        "padding-top": "25px",
                        "padding-left": "20px"
                         })
                   )
            .append($("<input/>")
                    .attr({"type":"hidden",
                        "size":10,
                        "id" : "recaptcha_response_field",
                        "name":"recaptcha_response_field",
                        "value":"na na"
                    })
                   );

        var _no = 0;
        $.each(data.pai_positions, function(){
            var _posi = $(this)[0];
            console.log(_posi);

            //画像
            var imgJq = $("<img/>")
                .attr("src",_posi.image_url)
                .css({
                    "position":"absolute",
                    "left": ( - _posi.x ) + "px" ,
                    "top": ( - _posi.y ) + "px" ,
                    "clip":"rect(" +
                        _posi.y + "px " +  //top
                        (_posi.w + _posi.x) + "px " + //right
                        (_posi.h + _posi.y) + "px " + //bottom
                        _posi.x + "px " +  //left
                        ")"
                });//end css
            //問題
            $("#mjrQuestionTr")
                .append($("<td/>")
                        .css({"width":"40px","height":"50px"})
                        .append($("<div/>")
                                .append(imgJq)
                                .css({"position":"relative","width":"100%","height":"100%"})
                               )
                       )
                .append($("<td/>")
                        .css({"width":"0px"})
                        .append(
                            $("<img/>")
                                .attr("src","http://mjrecaptcha.com/images/arrow.png")
                                .css({"width":"40px"})
                       ))
                .append($("<td/>")
                        .append(
                            new Pai(Pai.TYPE_NOT_SELECT,Pai.DIRECTION_TOP).jq(1.5)
                                .attr("no",_no)
                                .attr("id","selected_pai" + _no)
                                .click(function(){
                                    gChallengePaiNo=$(this).attr("no");
                                    $("#div_selectpanel").show();
                                    $("#div_question").hide();
                                })
                        ))
                .append($("<td/>").css({"width":"40px"}))
            ;
            _no++;
        });// End each

        console.log("viewPanel");
        var jq = $("<div/>")
            .attr("align","center")
            .attr("id","div_selectpanel")
            .attr("class",'ui-loader  ui-overlay-shadow ui-body-b ui-corner-all')
            .hide()
            .css({
                "background-color":"white",
                "border-radius":"5px",
                "border-style":"solid",
                "border-width":"1px",
                "border-color":"black",
                "width": "210px",
                "padding": "20px",
                "box-shadow": "5px 5px 5px 5px rgba(0,0,0,0.4)"
            });
        jq.append("<p>牌を選択してください</p>");
        // TODO jq.append($("<img/>").attr("id","qImageUrl"));
        $.each(Pai.TYPE_LIST,function(){
           var imgJq = new Pai(this,Pai.DIRECTION_TOP).jq(1)
               .click(function(){
                   var _nowStr = $("#recaptcha_response_field").attr("value");
                   var _list = _nowStr.split(" ");
                   _list[gChallengePaiNo] = $(this).attr("type");
                   console.log(gChallengePaiNo);
                   console.log($(this).attr("type"));
                   $("#recaptcha_response_field").attr("value",_list.join(" "));
                   $("#div_selectpanel").hide();
                   $("#div_question").show();
                   $("#selected_pai" + gChallengePaiNo)
                       .attr("src", Pai.imageUrl( $(this).attr("type"),"t"));
               })
           ;
           jq.append(imgJq);
       });
       jq.append("<p>※牌に見えない場合は「not牌」を選択してください</p>");
       $("#commentform").append(jq);
   }

})();
