<!DOCTYPE html>
<!-- saved from url=(0030)http://bootswatch.com/amelia/# -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Mjrecaptcha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sweet and cheery.">
  <meta name="author" content="Thomas Park">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80" style="margin-top: 0px;">


<%= yield %>

<hr />
<footer id="footer">
        <div class="links">
        </div>
        Powered by Team MLFIE.<br>
</footer>
</div>
</body>
</html>
